body{
  align-items: center;
  justify-items: center;
  display: block;
  margin: auto;
  width: 1000px;
  margin-top:10px;
  font-family: sans-serif;
  background-color: #282a36;
  color:#f8f8f2;
}

.options{
  display: flex
}
.options > div{
  text-align: center;
  color:#f8f8f2;
  cursor: pointer;
  flex: 1;
}

.chessSect{
  width:100%;
}
.optionA{
  background-color: #44475a;
  border:2px solid #ffb86c;
  margin-bottom: 20px;
}
#PRACTICE{
  display:none;
}
#WATCH{
  display:none;
}
#PLAY{
  display:none;
}
.practice{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:auto;
}
.watch{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:auto;
}
.play{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:auto;
}
.constPlay{
  width:100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:auto;
}